<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B2CPackageCollect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B2CPackageCollect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <B2CPackageCollect.Properties.Settings>
            <setting name="SkinName" serializeAs="String">
                <value>Office 2016 Colorful</value>
            </setting>
            <setting name="TouchUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TouchUIScaleFactor" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="WarehouseCode" serializeAs="String">
                <value />
            </setting>
        </B2CPackageCollect.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <B2CPackageCollect.Properties.Settings>
            <setting name="ReturnPaymentTypeCode" serializeAs="String">
                <value>Iade</value>
            </setting>
        </B2CPackageCollect.Properties.Settings>
    </applicationSettings>
</configuration>